* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: "EB Garamond";
    font-weight: 400;
    color: #c8c7c7;
    background-color: #a8a8a8;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.insideBodyPageHolder {
    position: absolute;
    height: 85.6481%;
    width: 90.8854%;
    margin: auto;
    right: 4.5573%;
    top: 7.1759%;
}

header {
    display: inline-grid;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    width: 100%;
    background-color: #3a3328;
    opacity: 0.864;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-items: flex-start;
    border-bottom: 1px solid #e6e6e6;
}

header .heading {
    font-family: Tangerine;
    font-weight: 700;
    font-size: 3.5rem;
    color: #85c2ff;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-left: 2%;
    margin-right: 5%;
}

nav {
    grid-row: 1/2;
    grid-column: 2/3;
}

nav a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #85c2ff;
}

nav a:hover {
    color: #e6e6e6;
}

/* .spacer {
    background-color: #172838;
    height: 6%;
    width: 100%;
} */

main {
    /* border: 1px solid white; */
    background-color: #172838;
    display: grid;
    grid-template-rows: 6fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* justify-content: start; */
    height: 88%;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.areaOne {
    /* border: 1px solid white; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    overflow-y: auto;
}

.areaTwo {
    /* border: 1px solid white; */
    display: grid;
    grid-template-rows: 0.6fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.techSections {
    padding-left: 10%;
    padding-right: 10%;
}

/* title */
.sectionOne {
    /* border: 1px solid white; */
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
}

/* about me */
.sectionTwo {
    /* border: 1px solid white; */
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
}

/* html */
.sectionThree {
    /* border: 1px solid white; */
    grid-row: 2/3;
    grid-column: 1/2;
}

/* css */
.sectionFour {
    /* border: 1px solid white; */
    grid-row: 3/4;
    grid-column: 1/2;
}

/* js */
.sectionFive {
    /* border: 1px solid white; */
    grid-row: 4/5;
    grid-column: 1/2;
}

/* ally */
.sectionSix {
    /* border: 1px solid white; */
    grid-row: 5/6;
    grid-column: 1/2;
}

/* git */
.sectionSeven {
    /* border: 1px solid white; */
    grid-row: 6/7;
    grid-column: 1/2;
}

/* first project section */
.sectionEight {
    /* border: 1px solid white; */
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* second project section */
.sectionNine {
    /* border: 1px solid white; */
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* third project section */
.sectionTen {
    /* border: 1px solid white; */
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
}

/* reach out and touch me */
.sectionEleven {
    border: 1px solid white;
    padding-left: 1.5%;
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    min-width: 150px;
    padding-bottom: 2%;
    padding-top: 2%;
}

.sectionEleven a {
    color: #e6e6e6;
}

.sectionEleven a:hover {
    color: #85c2ff;
}

.projectImage {
    max-width: 20%;
    max-height: 40%;
    margin-right: 5%;
}

.flyer {
    width: 26vw;
    height: 26vh;
    position: absolute;
    z-index: 2;
}

.flyerImg {
    width: 500px;
}

@media only screen and (max-width:1600px) {
    .sectionThree, .sectionFour, .sectionFive, .sectionSix, .sectionSeven {
        padding-bottom: 2%;
    }
    header .heading {
        font-size: 3rem;
    }

    nav a {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:1150px) {
     main {
        display: block;
        overflow-y: auto;   
     }

     header .heading {
        font-size: 2.5rem;
    }

    nav a {
        font-size: 1rem;
    }
    
}
